
/* CONTACTOS */

.hachetrescontactos {
    text-align: left;
  }
  .talle {
    text-align: left;
  }


  $generos: (
    Hombre: blue,
    Muejer: beige,
    Otro: pink,
  );
  @each $var, $color in list {
    .maps#{$var}{
      color: $color;
    }
    
  }
