footer {
    font-style: normal;
    font-weight: bolder;
    text-align: left;
    height: 3em;
    margin: 2em 0px 0px 0px;
    border: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}