nav ul {
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin: auto;

    li {
        display: inline-block;
        text-align: center;

        a {
            text-decoration: none;
            color: white;
            padding: 20px;

            a:hover {
                background-color: rgb(170, 196, 206);
            }




        }
    }
}




